<div class="container">
    
    <div class="article article-default article-grid">
        <div class="article-image">
            <img src="/img/welcome.jpg" alt="" />
        </div>
        <div class="article-content">
            <h2 class="article-headline">{{t 'navigation.welcome.title'}}</h2>
            <p>
                <strong>In dem kleinen Ort Kapellendorf liegt eine der am besten erhaltenen und größten Wasserburgen Thüringens.</strong>
            </p>
            <p class="alert alert-danger">
                <strong>Liebe Gäste,</strong><br/>das Museum der Wasserburg bleibt <strong>bis Sonntag, den 19. April 2020 geschlossen</strong>.<br/>Wir bitten um Ihr Verständis.
            </p>
            <p>
                Die Burg beherbergt sei 1950 ein Burgmuseum und ist seit vielen Jahren ein Ort für besondere Veranstaltungen. Jährlich finden im historischen Burghof vor malerischer Kulisse Märkte und Theaterveranstaltungen statt. Als Eigentümerin bemüht sich seit 1998 die Stiftung Thüringer Schlösser und Gärten um den Erhalt der Anlage. Derzeit wird an einer Konzeption zur Sanierung und Nutzung der Wasserburg Kapellendorf gearbeitet. Sie sind herzlich eingeladen, besuchen Sie unser Museum in der idyllisch gelegenen Burganlage!
            </p>
            <p>
                Wir freuen uns auf Ihren Besuch.<br/>
                {{t 'contact.firstname'}} {{t 'contact.lastname'}} {{t 'contact.title'}}
            </p>
        </div>
    </div>
    
    {{next-event events=model.events}}

    {{!--
    {{#each model.galleries as |gallery|}}
        {{image-gallery gallery=gallery}}
    {{/each}}
    --}}
    
    <section class="gallery ember-view">
        <div class="gallery-information article article-default article-grid">
            <div class="article-content">
                <h2 class="article-headline">Die Burg und Ihre Gäste</h2>
                <p>
                    Tauchen Sie ein in eine Welt voller Geschichte und Mythen. Besuchen Sie unsere Ausstellungen, Führungen und Veranstaltungen oder kommen Sie einfach nur Entspannung auf unsere Burg.
                </p>
            </div>
        </div>
        <div class="gallery-image" style="grid-column: span 1; grid-row: span 1;">
            <img src="/gallery/welcome/005.jpg" alt="">
        </div>
        <div class="gallery-image" style="grid-column: span 1; grid-row: span 0;">
            <img src="/gallery/welcome/22.04.jpg" alt="">
        </div>
        <div class="gallery-image" style="grid-column: span 1; grid-row: span 0;">
            <img src="/gallery/welcome/048_DSC02457.jpg" alt="">
        </div>
        <div class="gallery-image" style="grid-column: span 2; grid-row: span 2;">
            <img src="/gallery/welcome/058_DSC02468.jpg" alt="">
        </div>
        <div class="gallery-image" style="grid-column: span 0; grid-row: span 1;">
            <img src="/gallery/welcome/E_012_010_KAP_L.jpg" alt="">
        </div>
        <div class="gallery-image" style="grid-column: span 1; grid-row: span 1;">
            <img src="/gallery/welcome/001.jpg" alt="">
        </div>
        <div class="gallery-image" style="grid-column: span 1; grid-row: span 0;">
            <img src="/gallery/welcome/002.jpg" alt="">
        </div>
        <div class="gallery-image" style="grid-column: span 1; grid-row: span 0;">
            <img src="/gallery/welcome/003.jpg" alt="">
        </div>
        <div class="gallery-image" style="grid-column: span 0; grid-row: span 1;">
            <img src="/gallery/welcome/004.jpg" alt="">
        </div>
        <div class="gallery-image" style="grid-column: span 1; grid-row: span 2;">
            <img src="/gallery/welcome/IMG_1683.jpg" alt="">
        </div>
        <div class="gallery-image" style="grid-column: span 1; grid-row: span 0;">
            <img src="/gallery/welcome/IMG_1684.jpg" alt="">
        </div>
        <div class="gallery-image" style="grid-column: span 1; grid-row: span 0;">
            <img src="/gallery/welcome/IMGP2171.jpg" alt="">
        </div>
        <div class="gallery-image" style="grid-column: span 0; grid-row: span 1;">
            <img src="/gallery/welcome/IMGP2211.jpg" alt="">
        </div>
        <div class="gallery-image" style="grid-column: span 1; grid-row: span 1;">
            <img src="/gallery/welcome/IMGP2212.jpg" alt="">
        </div>
        <div class="gallery-image" style="grid-column: span 0; grid-row: span 1;">
            <img src="/gallery/welcome/IMGP2627.jpg" alt="">
        </div>
        <div class="gallery-image" style="grid-column: span 0; grid-row: span 0;">
            <img src="/gallery/welcome/IMGP3716.jpg" alt="">
        </div>
        <div class="gallery-image" style="grid-column: span 0; grid-row: span 1;">
            <img src="/gallery/welcome/Schiessscharte.jpg" alt="">
        </div>
        <div class="gallery-image" style="grid-column: span 0; grid-row: span 0;">
            <img src="/gallery/welcome/Wappenstein.jpg" alt="">
        </div>
        <div class="gallery-image" style="grid-column: span 1; grid-row: span 1;">
            <img src="/gallery/welcome/DSC_1342-43.jpg" alt="">
        </div>
        <div class="gallery-image" style="grid-column: span 0; grid-row: span 0;">
            <img src="/gallery/welcome/DSC_1382.jpg" alt="">
        </div>
        <div class="gallery-image" style="grid-column: span 0; grid-row: span 0;">
            <img src="/gallery/welcome/DSC_1440.jpg" alt="">
        </div>
        <div class="gallery-image" style="grid-column: span 1; grid-row: span 1;">
            <img src="/gallery/welcome/DSC_7176.jpg" alt="">
        </div>
        <div class="gallery-image" style="grid-column: span 0; grid-row: span 0;">
            <img src="/gallery/welcome/DSC_7182.jpg" alt="">
        </div>
        <div class="gallery-image" style="grid-column: span 0; grid-row: span 1;">
            <img src="/gallery/welcome/DSC_7232.jpg" alt="">
        </div>
        <div class="gallery-image" style="grid-column: span 0; grid-row: span 1;">
            <img src="/gallery/welcome/DSC_7244-47.jpg" alt="">
        </div>
        <div class="gallery-image" style="grid-column: span 0; grid-row: span 1;">
            <img src="/gallery/welcome/DSC_7321-31.jpg" alt="">
        </div>
        <div class="gallery-image" style="grid-column: span 0; grid-row: span 0;">
            <img src="/gallery/welcome/DSC_7336.jpg" alt="">
        </div>
    </section>

    {{outlet}}

</div>