<div class="container">
    
    <div class="article article-default article-grid">
        <div class="article-image">
            <img src="/img/welcome.jpg" alt="" />
        </div>
        <div class="article-content">
            <h2 class="article-headline">{{t 'navigation.welcome.title'}}</h2>
            <p>
                <strong>In dem kleinen Ort Kapellendorf liegt eine der am besten erhaltenen und größten Wasserburgen Thüringens.</strong>
            </p>
            <p>
                Die Burg beherbergt sei 1950 ein Burgmuseum und ist seit vielen Jahren ein Ort für besondere Veranstaltungen. Jährlich finden im historischen Burghof vor malerischer Kulisse Märkte und Theaterveranstaltungen statt. Als Eigentümerin bemüht sich seit 1998 die Stiftung Thüringer Schlösser und Gärten um den Erhalt der Anlage. Derzeit wird an einer Konzeption zur Sanierung und Nutzung der Wasserburg Kapellendorf gearbeitet. Sie sind herzlich eingeladen, besuchen Sie unser Museum in der idyllisch gelegenen Burganlage!
            </p>
            <p>
                Wir freuen uns auf Ihren Besuch.<br/>
                {{t 'contact.firstname'}} {{t 'contact.lastname'}} {{t 'contact.title'}}
            </p>
        </div>
    </div>
    
    {{next-event events=model.events}}

    {{#each model.galleries as |gallery|}}
        {{image-gallery gallery=gallery}}
    {{/each}}

    {{outlet}}

</div>