<div class="container">

    {{!--<section>
        {{next-event events=model.events}}
    </section>--}}

    {{!--
    <section>
        <div class="article article-transparent article-grid">
            <img src="/img/flyer-burg-kapellendorf-front.jpg" alt="" class="filled" />
            <img src="/img/flyer-burg-kapellendorf-back.jpg" alt=""  class="filled" />
        </div>
    </section>
    --}}

    <div class="article article-default article-grid">
        <div class="article-content">
            <h2 class="article-headline">Lebensraum Burg</h2>
            <p>
In einer Talniederung im Zentrum des Ortes liegt die Wasserburg
Kapellendorf. Vor über 800 Jahren wurde sie als Wehrbau errichtet
und war immer Lebensraum für Menschen und Tiere. Im Mittelalter
bewohnte sie der Graf oder Vogt (Verwalter der Stadt) mit seiner
Burgmannschaft aus Knechten, Mägden und Turmwärtern. Mit ihnen
lebten zahlreiche Nutztiere in der Burg und auf den zugehörigen
Ländereien. Die Menschen wohnten, arbeiteten, aßen und tranken
in der Burg. Heute ist sie mit ihrem Wassergraben ein besonderer Naturraum, in dem viele seltene Tiere und Pflanzen ihr Zuhause finden.
Die Burg ist nicht mehr bewohnt, lädt aber herzlich alle Gäste ein,
das Burgmuseum und die Anlage zu besuchen.
Der Gast begibt sich auf eine Reise in die Vergangenheit: Wie arbeitete und lebte man? Was wurde gegessen und getrunken? Und welche
Tiere kann man heute in der Burg beobachten?
<br/><br/>
Die Sonderausstellung vermittelt mit Geschicklichkeits- und Wissensspielen Besonderes aus dem Lebensalltag. Sie räumt mit falschen
Vorstellungen zur Burgzeit auf und bietet jede Menge zum Entdecken für Kinder und Erwachsene.
<br/><br/>
Schulklassen, die im Rahmen des Unterrichts die Burg besuchen,
haben freien Eintritt. Jeder 1. Dienstag des Monats ist eintrittsfrei.
Der idyllische Burginnenhof sowie die Sitzgelegenheiten am Wassergraben bieten die Möglichkeit zu Picknick. Parkplätze stehen ausreichend zur Verfügung.
            </p>
        </div>
        <div class="article-image">
          <img src="/img/2019-Flyer-Kochtopf-und-Zinnen.png" alt="" class="filled" />
        </div>
    </div>

    <section>
        
        <div class="article article-default">
            <div class="article-content">
                <h2 class="article-headline">Veranstaltungen 2020 (vorläufig!)</h2>
                <p>Unser Burgmuseum ist ganzjährig geöffent und wir bieten Fürhungen für Kinder und Erwachsene nach Voranmeldung an!</p>
            </div>
        </div>

        {{#each model.events as |event|}}
            <div class="article article-{{if event.nextEvent 'highlighted' 'default'}} article-grid {{if event.eventStillInProgress 'event-running'}}">
                <div class="article-content">
                    <h2 class="article-headline">
                        {{format-date event.from}}
                        {{#if event.to}} - {{format-date event.to}}{{/if}}
                    </h2>
                    <div>
                        <strong>{{event.title}}</strong>
                        <p>{{{event.description}}}</p>
                    </div>
                </div>
            </div>
        {{/each}}
    </section>

    {{outlet}}

</div>